<% provide(:title, "About") %>
<h1 class="text-center"> About Us</h1>
<h3 class="text-center"> ------ OUR STORY ------ </h3>
<h5 class="text-center">This is our Chirp application which is a kind of social networking website. To know more about us please signup!</h5>