<% provide(:title, "Contactus") %>
<div class="container">
   <div class="row">
      <div class="col-lg-3">
         <h1>Contact Us</h1>
         <address>
            <strong>
               Chirp App Inc.
            </strong><br />
            2101 E Coliseum Blvd<br />
            Fort Wayne<br />
            Indiana-46805
         </address>
      </div>
      <div class="col-lg-4">
         <h1>We are located at:</h1>
         <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
         <script>
           function initialize() {
             var mapProp = {
               center:new google.maps.LatLng(41.120660,-85.107200),
               zoom:13,
               mapTypeId:google.maps.MapTypeId.ROADMAP
             };
             var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
           }
           google.maps.event.addDomListener(window, 'load', function () {
           //1000 milliseconds == 1 second,
           //play with this til find a happy minimum delay amount
                window.setTimeout(initialize, 1000);
           });
         </script>

      <div id="googleMap" style="width:250px;height:180px;"></div>
      </div>
   </div>
</div>