<% provide(:title, "Home") %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="post_form">
        <%= render 'shared/post_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Posts feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <h1 class="text-center">Welcome to Chirp Application</h1>
  <div class="container">
    <div class="row">
      <div class="text-center">
        <%= link_to new_user_path, class: 'btn btn-primary btn-lg' do %>
          <span class="glyphicon glyphicon-plus text-center"></span>&nbsp;Sign Up Now!
        <% end %>
      </div>
    </div>
  </div>
<% end %>