<div class="container">
  <div class="row">
    <div class="col-md-7 col-md-offset-2">
      <h1 class="text-center">Log In</h1>
      <%= form_for(:session, url: login_path) do |f| %>
      <div class="form-group">
        <%= f.label :email, "Email" %>
        <%= f.email_field :email, placeholder: "Email", class: 'form-control', autofocus: true %>
      </div>

      <div class="form-group">
        <%= f.label :password, "Password" %>
        <%= f.password_field :password, placeholder: "Password", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :remember_me do %>
          <%= f.check_box :remember_me %>
          <span>Remember me on this computer</span>
        <% end %>
      </div>
      <div class="form-group"><%= f.submit "Log In", class: 'btn btn-success btn-block active' %></div>
    <% end %>
    <p>New user? <%= link_to "Sign up now!", signup_path, class: 'text' %></p>
    </div>
  </div>
</div>