<% provide(:button, "Update") %>
 <%= form_for([@post, @comment]) do |f| %>
   <% if @comment.errors.any? %>
     <div id="error_explanation">
       <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
 
       <ul>
       <% @comment.errors.full_messages.each do |message| %>
         <li><%= message %></li>
       <% end %>
       </ul>
     </div>
   <% end %>
   <h3><%= @post.content %></h3> by 
   <%= link_to @post.user.first_name, @post.user %>
   <%= time_ago_in_words(@post.created_at) %> ago
   <div class="row">
     <div class="col-md-5 col-md-offset-1">
       <div class="form-group">
         <%= f.label :content %><br>
         <%= f.text_area :content, class: 'form-control' %>
       </div>
 
       <div class="actions">
         <%= f.submit yield(:button), class: 'btn btn-primary active' %>
       </div>
     </div>
   </div>
 <% end %> 