<% provide(:title, @post.user.first_name) %>
 +<h1><%= @post.content %></h1> by <%= link_to @post.user.first_name, user_path(@post.user) %>
 +<% if @post.avatar.url != "/avatars/original/missing.png" %>
 +	<p><%= image_tag(@post.avatar.url, class: 'img img-responsive') %></p>
 +<% end %>
 +<h6>Posted <%= time_ago_in_words(@post.created_at) %> ago</h6>
 +
 +<%= link_to 'Edit Post', edit_post_path(@post), class: 'btn btn-info active' %>
 +<%= link_to 'Delete Post', @post, method: :delete, data: { confirm: "Are you sure want to delete your post" }, class: 'btn btn-warning active' %>
<p id="notice"><%= notice %></p>
<p>
	<%= @post.content %>
</p>
<p>
  <strong>Body:</strong>
  <%= @comment.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user.first_name %>
</p>