<%= form_for(@user) do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group required">
    <%= f.label :first_name, "First Name", class: 'control-label' %>
    <%= f.text_field :first_name, placeholder: "First Name", class: 'form-control', autofocus: true %>
  </div>
  
  <div class="form-group required">
    <%= f.label :last_name, "Last Name", class: 'control-label' %>
    <%= f.text_field :last_name, placeholder: "Last Name", class: 'form-control' %>
  </div>
  
  <div class="form-group required">
    <%= f.label :email, "Email", class: 'control-label' %>
    <%= f.text_field :email, placeholder: "Email", class: 'form-control' %>
  </div>

  <div class="form-group required">
    <%= f.label :password, "Password", class: 'control-label' %>
    <%= f.password_field :password, placeholder: "Password", class: 'form-control' %>
  </div>

  <div class="form-group required">
    <%= f.label :password_confirmation, "Confirm Password", class: 'control-label' %>
    <%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: 'form-control' %>
  </div>

  <div class="form-group required">
    <%= f.label :location, "Location", class: 'control-label' %>
    <%= f.text_field :location, placeholder: "Location", class: 'form-control' %>
  </div>
  
  <div class="form-group required">
      <%= f.label :gender, class: 'control-label' %>
      <%= f.select :gender, ["Male", "Female", "Other"] %>
  </div>
  
  
  <div class="form-group required">
    <%= f.label :dob, "Date Of Birth", class: 'control-label' %>
    <%= f.date_field :dob, placeholder: "Date of birth", class: 'form-control' %> 
  </div>
 
  <div class="form-group">
    <%= f.label :profile_pic, "Upload Profile Picture" %>
    <%= f.file_field :profile_pic %>
  </div>

  <%= f.submit yield(:button_text), class: yield(:btn_type) %>

<% end %>