<div class="col-md-offset-1">
	<h1>
		<%= link_to user do %>
			<%= image_tag(user.profile_pic.url(:medium), class: 'img-circle', size: '75x75') %>
			<%= "#{user.first_name} #{user.last_name}" %>
		<% end %>
	</h1>
</div>