<% provide(:title, "Editing #{@user.first_name}") %>
<% provide(:button_text, 'Save Changes') %>
<% provide(:btn_type, 'btn btn-danger btn-block active') %>
<div class="container">
  <div class="row">
    <div class="col-md-7 col-lg-6 col-sm-8 col-xs-10 col-lg-offset-3 col-md-offset-3 col-sm-offset-2 col-xs-offset-1">
      <h1 class="text-center">Edit User</h1>
      <%= render 'form' %>
    </div>
  </div>
</div>