<script src="//maps.google.com/maps/api/js?v=3.18&client=&key=AIzaSyC1Se6RYW_eJjvDsMGTiBMehLHDooXfQUw&libraries=geometry&language=&hl=&region="></script>
<script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js' type='text/javascript'></script>

<div class="container">
	<div class="row">
		<div class="col-md-5">
			<h1>Users' locations</h1>
			<div style='width: 100%;'>
			  <div id="map" style='width: 800px; height: 400px;'></div>
			</div>
		</div>
	</div>
</div>



<script type="text/javascript">
	handler = Gmaps.build('Google');
      	handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      	  markers = handler.addMarkers(<%= raw @hash.to_json %>);
      	  handler.bounds.extendWith(markers);
      	  handler.fitMapToBounds();
      	});
</script>