<% provide(:title, "New User") %>
<% provide(:button_text, "Create Account") %>
<% provide(:btn_type, 'btn btn-primary btn-block active') %>
<div class="container">
  <div class="row">
    <h1 class="text-center">Signup Now!</h1>
    <div class="col-md-7 col-lg-6 col-sm-10 col-xs-12 col-lg-offset-3 col-md-offset-3 col-sm-offset-1">
      <%= render 'form' %>
    </div>
  </div>
</div>