<div class="container">
	<div class="row">
		<% @users.each do |user| %>
			<div class="col-md-offset-3 col-sm-offset-2 col-xs-offset-1 col-lg-offset-4">
				<h1>
					<%= link_to  image_tag(user.profile_pic.url(:medium), size: '100x100') %>
			    	<%= link_to user.first_name, user %>
			    </h1>
			</div>
		<% end %>
	</div>
</div>