<% provide(:title, @user.first_name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= image_tag(@user.profile_pic, size: '75x75') %>
        <%= @user.first_name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.posts.any? %>
      <h3>Posts (<%= @user.posts.count %>)</h3>
      <ol class="microposts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>
</div>