<% if object.errors.any? %>
  <div id="error_explanation" %>
    <div class="alert red alert-dismissable">
      <button type = "button" class = "close" data-dismiss = "alert" aria-hidden = "true">
      &times;
      </button>
      <strong>Error! </strong>The form contains <%= pluralize(object.errors.count, "error") %>.
    </div>
    <ol>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ol>
  </div>
<% end %>