<%= form_for(@post, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field form-group">
  	<%= f.label :avatar, "Upload an image" %>
  	<%= f.file_field :avatar %>
  </div>

  <div class="field form-group">
    <%= f.text_area :content, placeholder: "Compose new post...", class: 'form-control' %>
  </div>

  <%= f.submit "Post", class: "btn btn-primary btn-block" %>
<% end %>