<h1 class="user-post"><%= link_to current_user.first_name, current_user %></h1>
<span class="user-post"><%= link_to "View my posts", my_posts_post_path(current_user) %></span>

<span><%= pluralize(current_user.posts.count, "Post") %></span>