<h2><%= link_to post.content, post %></h2>
<% if post.avatar.url != "/avatars/original/missing.png" %>
	<p><%= link_to image_tag(post.avatar.url(:thumb)), post %></p>
<% end %>
Posted <%= time_ago_in_words(post.created_at) %> ago
<div class="btn-group">
	<%= link_to like_post_path(post), method: :put, class: 'btn btn-info btn-sm' do %>
		<span class="glyphicon glyphicon-thumbs-up"></span>
		<%= pluralize(post.get_upvotes.size, 'Like') %>
	<% end %>
	<%= link_to dislike_post_path(post), method: :put, class: 'btn btn-danger btn-sm' do %>
		<span class="glyphicon glyphicon-thumbs-down"></span>
		<%= pluralize(post.get_downvotes.size, 'Dislike') %>
	<% end %>
</div>
<p>
	<% if post.comments.any? %>
		<h4>
			<%= link_to post.comments.last.user do %>
				<%= image_tag(post.comments.last.user.profile_pic.url(:thumb), size: '25x25') %>
			<% end %>
			<%= post.comments.last.content %>
		</h4>
	<% end %>
</p>
<h4><%= link_to "Comment a post", new_post_comment_path(post) %></h4>