<% provide(:title, @post.user.first_name) %>
<h1><%= @post.content %></h1> by <%= link_to @post.user.first_name, user_path(@post.user) %>
<% if @post.avatar.url != "/avatars/original/missing.png" %>
	<p><%= image_tag(@post.avatar.url, class: 'img img-responsive') %></p>
<% end %>
<h6>Posted <%= time_ago_in_words(@post.created_at) %> ago</h6>

<%= link_to 'Edit Post', edit_post_path(@post), class: 'btn btn-info active' %>
<%= link_to 'Delete Post', @post, method: :delete, data: { confirm: "Are you sure want to delete your post" }, class: 'btn btn-warning active' %>

<h2>Comments</h2>
<div class="container">
	<div class="row">
		<% if @post.comments.any? %>
			<% @post.comments.each do |comment| %>
				<h3>
					<%= link_to comment.user do %>
						<%= image_tag(comment.user.profile_pic.url(:thumb), size: '75x75') %>
					<% end %>
					<%= comment.content %>
				</h3>
				<h6>Commented <%= time_ago_in_words(comment.created_at) %> ago</h6>
				<% if comment.user == current_user %>
					<%= link_to "Edit", edit_post_comment_path(@post, comment), class: 'btn btn-warning btn-xs active' %>
					<%= link_to "Delete", post_comment_path(@post, comment), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger btn-xs active' %>
				<% end %>
			<% end %>
		<% else %>
			Be the first person
		<% end %>
	</div>
</div>
<%= link_to "To comment", new_post_comment_path(@post) %>