@import "bootstrap-sprockets";
@import "bootstrap";

.align {
	text-align: center;
}

body {
	background: #E0E0E0;
}

.content {
  padding-top: 70px;
}

h1 {
	color: #A00000;
}

#error_explanation {
	color: #AA0000;
}

.error {
	color: red;
}

/* for signup now link in sign in page */
.text {
	color: #6605E6;
}

/* Error fields*/
.field_with_errors label {
	color: red;
}

.field_with_errors input {
	border: 1px solid red;
}

/* for form asterick */
.form-group.required .control-label:after {
  content:"*";
  color:red;
}

/* logo */
.logo {
	letter-spacing: 3px;
}

.name {
	font-size: 250%;
	background-color: #050202;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 3px solid #A00000;
  color: #777;
}

footer ul {
  float: left;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.black {
	color: black;
}

.user-post {
	background-color: transparent;
    color: #34DDDD;
    text-decoration: none;
    a {
    color: red;
    text-decoration: none;
}
}

.bg {
    opacity: 0.3;
    background: url(homepage1.jpg);
    background-repeat: repeat-y;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}