<footer class="footer foot">
  <nav>
    <ul>
      <h4 class="black">Follow us on:</h4>
      <li><%= link_to image_tag("facebook.png", alt: "Facebook", size: '40x40'), "https://www.facebook.com", target: "_blank" %></li>
      <li><%= link_to image_tag("twitter.png", alt: "Twitter", size: '40x40'), "https://twitter.com/", target: "_blank" %></li>
      <li><%= link_to image_tag("instagram.png", alt: "Instagram", size: '40x40'), "https://www.instagram.com/", target: "_blank" %></li>
      <li><%= link_to image_tag("pinterest.png", alt: "Instagram", size: '40x40'), "https://www.pinterest.com/", target: "_blank" %></li>
    </ul>
  </nav>
</footer>