<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag("favicon.ico") %>
  <title><%= full_title(yield(:title)) %></title>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> -->
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="bg"></div>
  <%= render 'layouts/header' %>
  <div class="container content">
    <div class="row">
      <div class="col-md-12">
        <% flash.each do |msg_type, msg| %>
          <div class="alert alert-<%= msg_type %> text-center">
            <%= msg %>
          </div>
        <% end %>
        
        <%= yield %>
       
        <%= render 'layouts/footer' %>
      </div>
    </div>
  
  <%= debug(params) if Rails.env.development? %>
  </div>
</body>
</html>
